<div class="row">
  <div class="col-xs-8">
    <div class="jumbotron">
      <h1>Meet Invo.</h1>
         <h2>Helping you track household items you purchase and use infrequently. </h2>
         <p><small>At the store wondering if you have paprika? Are those vitamins at home any good? Where did I put that nail polish?!</small> </p>
         </p>Invo: For all these household headaches and more!</p>
      </div>
  </div>
<div class="col-xs-4">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>


    </div>
</div>



