<!-- Validation failure messages -->

<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Item</h3>
      </div>
      <div class="panel-body">
        <form action="/create_item" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @item.name %>">
            </div>
          </div>

          <!-- Label and input for purchased -->
          <div class="form-group">
            <label for="purchased" class="col-sm-2 control-label">
              Purchased
            </label>
            <div class="col-sm-10">
              <input type="text" id="purchased" name="purchased" placeholder="Purchased" class="form-control" value="<%= @item.purchased %>">
            </div>
          </div>

          <!-- Label and input for expiration -->
          <div class="form-group">
            <label for="expiration" class="col-sm-2 control-label">
              Expiration
            </label>
            <div class="col-sm-10">
              <input type="text" id="expiration" name="expiration" placeholder="Expiration" class="form-control" value="<%= @item.expiration %>">
            </div>
          </div>

          <!-- Label and input for location -->
          <div class="form-group">
            <label for="location" class="col-sm-2 control-label">
              Location
            </label>
            <div class="col-sm-10">
              <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @item.location %>">
            </div>
          </div>

          <!-- Label and input for room_id -->
          <div class="form-group">
            <label for="room_id" class="col-sm-2 control-label">
              Room
            </label>
            <div class="col-sm-10">
              <input type="text" id="room_id" name="room_id" placeholder="Room" class="form-control" value="<%= @item.room_id %>">
            </div>
          </div>

          <!-- Label and input for photo -->
          <div class="form-group">
            <label for="photo" class="col-sm-2 control-label">
              Photo
            </label>
            <div class="col-sm-10">
              <input type="text" id="photo" name="photo" placeholder="Photo" class="form-control" value="<%= @item.photo %>">
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @item.user_id %>">
            </div>
          </div>

          <!-- Label and input for link -->
          <div class="form-group">
            <label for="link" class="col-sm-2 control-label">
              Link
            </label>
            <div class="col-sm-10">
              <input type="text" id="link" name="link" placeholder="Link" class="form-control" value="<%= @item.link %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Item
              </button>
              or
              <a href="/items">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
