<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><dd><%= @item.name %><font color="red"><strong><%= if @item.expiration < Date.today then "   TO BUY!" else "" end %></strong></font></dd></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dd><img src="<%= @item.photo %>"height="300"></dd>

              <p></p>

              <dt>Purchased</dt>
              <dd><%= @item.purchased.strftime("%b %e, %Y") %></dd>

              <dt>Expiration</dt>
              <dd><%= @item.expiration.strftime("%b %e, %Y") %></dd>

              <dt>Location</dt>
              <dd><%= @item.location %></dd>

              <dt>Room</dt>
              <dd><%= @item.room.name %></dd>

              <dt>Link to Purchase</dt>
              <dd><% if @item.link != "" then%><a href="<%= @item.link %>" target="_blank">Click here</a></dd><% end %>


            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/items" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
